/* line 3, ../sass/editor.scss */
body {
  font-family: 'Droid Sans', serif;
  font-size: 14px;
  background-color: transparent;
  overflow: hidden;
}

/* line 10, ../sass/editor.scss */
#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/editor.scss */
.noselect {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 22, ../sass/editor.scss */
.panel-header {
  float: left;
  height: 22px;
  width: 100%;
  border-bottom: 1px solid #323232;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkxOTE5MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #919191));
  background-image: -moz-linear-gradient(#d4d4d4, #919191);
  background-image: -webkit-linear-gradient(#d4d4d4, #919191);
  background-image: linear-gradient(#d4d4d4, #919191);
}

/**
 *
 * FILE MENU STUFF
 *
 */
/* line 35, ../sass/editor.scss */
#file-menu-container {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlYWVhZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(#aeaeae, #555555);
  background-image: -webkit-linear-gradient(#aeaeae, #555555);
  background-image: linear-gradient(#aeaeae, #555555);
  display: block;
  height: 22px;
  font-size: 12px;
  padding: 0;
  color: white;
  width: 100%;
  border-bottom: 1px solid #464646;
  border-top: 1px solid black;
}
/* line 48, ../sass/editor.scss */
#file-menu-container * {
  font-family: 'Droid Sans', serif;
  cursor: default;
}
/* line 53, ../sass/editor.scss */
#file-menu-container ul {
  text-align: left;
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 60, ../sass/editor.scss */
#file-menu-container ul :after {
  content: "";
  clear: both;
  display: block;
}
/* line 66, ../sass/editor.scss */
#file-menu-container ul li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 20px;
  margin-right: 10px;
  margin-top: 0;
  height: 100%;
  border: 1px solid transparent;
}
/* line 75, ../sass/editor.scss */
#file-menu-container ul li:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0NzQ3NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #747474), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(#747474, #555555);
  background-image: -webkit-linear-gradient(#747474, #555555);
  background-image: linear-gradient(#747474, #555555);
  border: 100px solid #1b1b1b;
}
/* line 79, ../sass/editor.scss */
#file-menu-container ul li:hover ul {
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
/* line 89, ../sass/editor.scss */
#file-menu-container ul ul {
  padding: 0;
  display: none;
  position: absolute;
  float: left;
  background-color: black;
  min-width: 200px;
  border: 1px solid #a0a0a0;
}
/* line 98, ../sass/editor.scss */
#file-menu-container ul ul li {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 103, ../sass/editor.scss */
#file-menu-container ul ul li :hover {
  background-color: #3875d6;
  color: white;
}

/**
 *
 * QUICK BAR STYLES
 *
 */
/* line 117, ../sass/editor.scss */
#quick-action-bar-container {
  border-bottom: 1px solid black;
  margin: 0;
  float: left;
  height: 60px;
  width: 100%;
  background: #525252;
  /* Old browsers */
}

/**
 *
 * BROWSER STYLES
 *
 */
/* line 132, ../sass/editor.scss */
#browser-container {
  height: 600px;
  width: 250px;
  margin: 0;
  float: left;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid white;
  background: #525252;
  /* Old browsers */
}

/**
 *
 * CODE EDITOR CONTAINER STYLES
 *
 */
/* line 154, ../sass/editor.scss */
#code-editor-container {
  float: right;
  height: 100%;
  width: 400px;
  background: #525252;
}

/* line 164, ../sass/editor.scss */
#codemirror-textarea-container {
  float: left;
  width: 100%;
}

/* line 169, ../sass/editor.scss */
.CodeMirror {
  border: 1px solid #eee;
  height: 500px;
}
